.contenedor{
   background-color: #ffffff;
   width: 30%;
   min-width: 420px;
   padding: 35px 45px;
   transform: translate(-50%,-50%);
   position: absolute;
   left: 50%;
   top: 50%;
   border-radius: 10px;
   box-shadow: 20px 30px 25px rgba(0,0,0,0.15);
}

.contenedor h1 {
   font-size: 2.5rem;
   font-weight: bold;
   margin-bottom: 0.1rem;
}

.info {
   text-align: center;
}

.rows{
   width: 100%;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
   grid-gap: 20px 30px;
}

@media screen and (max-width: 768px) {
   .contenedor {
      width: 90%;
      min-width: unset;
   }

   .rows {
      grid-template-columns: 1fr;
   }
}

